/* Added empty rulesets for some of the selectors for the time being, 
 * just want to make sure all the required selectors are present and 
 * all color requirements are met */


/* Universal Selector */
* {}

/* ID Selector */
#diagram {
    max-width: 100vw;
    max-height: 100vh;
}

/* Selector List */
h1,
h2,
h3,
p,
li,
summary,
a,
button {
    font-family: "Nunito", sans-serif;
}

.underline {
    text-decoration: underline;
}

/* Class Selector */
.main-container {
    background-color: rgb(207, 255, 224);
}

/* Element Selector */
video {}

/* Attribute Selector */
a[href*="#"] {
    color: black;
}

.fieldset {}

/* Descendant Combinator */
.fieldset p {
    text-align: center;
}

.nav {
    position: sticky;
    top: 12px;
}


/* Child Combinator */
.nav>div {
    position: relative;
    background-color: hsl(280, 100%, 91%);
    display: block;
}

/* General Sibling Combinator */
details~details {}

/* Adjacent Sibling Combinator */
h2+ul {}

/* Combining Two Selectors */
div.form {
    background-color: #E3E7FF;
}

/* :has() Selector */
header:has(+ h1) {}

/* Nested Selector */
.form-field-container {
    & p {
        color: gray;
    }
}

.form-title {
    color: color-mix(in lch, blue 50%, green 50%);
    text-align: center;
    width: 40em;
}

.invis {
    display: none;
}

.form-submit-button {
    min-width: 30vw;
    height: 64px;
}

.form-submit-button p {
    font-size: 20px;
    color: white;
}

/* Pseudo-class Selector */
.form-submit-button:hover {
    opacity: 50%;
}


.form-submit-button:active {
    opacity: 80%;
}

.button-color {
    background-color: mediumslateblue;
}
