/* Added empty rulesets for some of the selectors for the time being, 
 * just want to make sure all the required selectors are present and 
 * all color requirements are met */


/* Universal Selector */
* {
    border: 0px solid black
}

/* ID Selector */
#diagram {
    max-width: 50vw;
    max-height: 50vh;
}

/* Selector List */
h1,
h2,
h3,
p,
li,
summary,
a,
button {
    font-family: "Nunito", sans-serif;
}

.underline {
    text-decoration: underline;
}

/* Class Selector */
.main-container {
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 16pt;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: rgb(207, 255, 224);
    margin: 12px;
    margin-right: 16px;
    border-radius: 24px;
}

/* Element Selector */
video {
    max-width: 50vw;
    max-height: 50vh;
    margin: 12px 12px 12px 12px
}

/* Attribute Selector */
a[href*="#"] {
    color: black;
}

.fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    border-radius: 8px;
    border-color: blue;
    border-width: 2px;
    border-style: dashed;
}

/* Descendant Combinator */
.fieldset p {
    text-align: center;
}

.nav {
    display: grid;
    grid-template-columns: [col1] auto [col2] auto [col3] auto [col4] auto [col5] auto [end];
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin: auto;
    position: sticky;
    top: 12px;
}


/* Child Combinator */
.nav>div {
    position: relative;
    padding: 10px;
    border-radius: 8px;
    background-color: hsl(280, 100%, 91%);
    display: block;
    text-align: center;
}

/* General Sibling Combinator */
details~details {
    margin-bottom: 12px;
}

/* Adjacent Sibling Combinator */
h2+ul {
    margin-bottom: 8px;
}

/* Combining Two Selectors */
div.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1cm;
    background-color: #E3E7FF;
    padding: 20px 30px 20px 30px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 24px;
}

/* :has() Selector */
header:has(+ h1) {
    margin-top: 8px;
}

/* Nested Selector */
.form-field-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;

    & p {
        color: gray;
        font-size: 1.25em;
    }
}

.form-title {
    align-self: center;
    color: color-mix(in lch, blue 50%, green 50%);
    text-align: center;
}

.invis {
    display: none;
}

.form-submit-button {
    min-width: 30vw;
    border-radius: 16px;
    height: 64px;
}

.form-submit-button p {
    font-size: 20px;
    color: white;
}

/* Pseudo-class Selector */
.form-submit-button:hover {
    opacity: 50%;
}


.form-submit-button:active {
    opacity: 80%;
}

.button-color {
    background-color: mediumslateblue;
}

.title {
    text-align: center;
}

.recordings {
    display: flex;
    flex-direction: column;
}

span {
    display: flex;
    gap: 8px;
}

html {
    min-width: 100vw;
}

@media screen and (min-width: 1000px) {
    html {
        min-width: 98vw;
    }
}
